
{% block content %}
    <div class="container page-content">
     <h1>Hello!</h1>
    
     <p>
         I'm Rodrigo Benitez, a Full-Stack web developer, currently working as a freelancer. I’ve turned my career towards web development and programming, finding a new profitable passion. I have previously worked in a number of industries in Buenos Aires, as a technician and facility manager. My previous working experience developed my soft skills such as leadership, teamwork, and interpersonal communication. I’m constantly learning new technical skills and seeking new opportunities to develop my knowledge.
         <br />Outside of programming, I’m enthusiastic about cycling, traveling and practicing sports.
     </p>
     <h2>Contact Me</h2>
     <ul>
         <li>You can reach me at <a href="mailto:rodrigorbenitez2288@gmail.com">rodrigorbenitez2288@gmail.com</a></li>
     </ul>
     <h2>Links</h2>
     <ul>
         <li><a href="https://github.com/rodrigorbenitez">GitHub</a></li>
         <li><a href="https://www.linkedin.com/in/benitezrodrigo/">LimkedIn</a></li>
         <li><a href="static\assets\Resume-Rodrigo-Benitez.pdf">Resume</a></li>
     </ul>
    </div>

{% endblock %}
