{% extends "layout.html" %}
{% block content %}
<div class="container page-content">
    <h1>Education</h1>
    <ul>
        <li><a href="https://vpal.harvard.edu/harvardx">HarvardX</a>: CS50's Web Programming with Python and JavaScript (2020)</li>
        <li><a href="https://plataforma5.la/">Plataforma 5</a>: Front-End Web Developer (2020)</li>
        <li>
            <a href="https://www.utn.edu.ar/es/">Universidad Tecnologica Nacional</a> Bachelor of Industrial Organization (2013-2020)
        </li>
    </ul>


    <p>See more of my profile in my <a href="static\assets\Resume-Rodrigo-Benitez.pdf">resume</a>.</p>
</div>

{% endblock %}
