{% extends "layout.html" %}
{% block content %}
<div class="container page-content">
    <h1>Education History</h1>
    <ul>
        <li><a href="http://localhost:61209/projects">HarvardX</a>: <span>CS50's Web Programming with Python and JavaScript</span> (2020)</li>
        <li><a href="https://plataforma5.la/">PLATAFORMA 5</a><span>: Front-End Web Developer</span> (2020)</li>
        <li>
            <a href="https://www.utn.edu.ar/es/">UNIVERSIDAD TECNOLOGICA NACIONAL</a>:
            <ul>
                <li>
                    <span>Bachelor of Industrial Organization</span> (2013-Present)
                </li>
                <li><span>Industrial Engineering</span> (2007-2013)</li>
            </ul>
        </li>
    </ul>
</div>

{% endblock %}
