{% extends "layout.html" %}

{% block content %}
<div class="container page-content">
    <h1>Projects</h1>
    <ul>
        <li><a href="https://github.com/rodrigorbenitez/facility-management-app">Facility App</a> is an application I built for tracking maintenance, working orders and assets for facility management. Users can log in and create working orders, print them and track the the maintenance current status. </li>
        <li><a href="https://github.com/rodrigorbenitez/books-review-app">Book's Corner</a> is a book review website I did during the HarvardX course. Once users log in, they are able to search for books, leave reviews for individual books and see the reviews made by other people. I also used a third-party API by Goodreads, another book review website, to pull in ratings from a broader audience. Additionally, users will be able to query for book details and book reviews programmatically via a website's API.</li>
        <li>
            <a href="https://github.com/rodrigorbenitez/weather-channel-project">Weather channel Project</a> is a weather app that shows the current weather contitions form any country or location. It detect your local IP and returns your location. Then with https://openweathermap.org/ API returns data from any location you search.
        </li>
        <li>
            <a href="https://github.com/rodrigorbenitez/To-Do-List-Project">To do list</a> is a simple web application where you can add multiple tasks on a list, mark them as complete or erase each of them.
        </li>
    </ul>


    <p>See more of my projects on <a href="https://github.com/rodrigorbenitez/">GitHub</a>.</p>
</div>


        {% endblock %}
